html {
  font-family: 'Source Sans Pro', Verdana, Arial, Helvetica, sans-serif;
}
#output {
  color: green;
}

#error {
  color: red;
}

.commentheader {
  color: rgb(90, 15, 38);
}

header{
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  padding-bottom: 2px;
}

input{
  width: 49%;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}