html {
  font-family: 'Source Sans Pro', Verdana, Arial, Helvetica, sans-serif;
}
#output {
  color: green;
}

.commentheader {
  color: rgb(90, 15, 38);
}




#output2 thead, #output2 tr td{
  text-align: center;
  border: 1px solid black;
}

thead td{
  padding: 10px;
}