html {
  font-family: 'Source Sans Pro', Verdana, Arial, Helvetica, sans-serif;
}
#output {
  color: green;
}

#error {
  color: red;
}

.commentheader {
  color: rgb(90, 15, 38);
}

header{
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  padding-bottom: 2px;
}

input{
  width: 49%;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.check{
  display: inline-flex;
  align-items: baseline;
}
#inHandheld{
  margin: 0.4rem;
}

#output1 {
  color: rgb(0, 112, 4);
}

#output2 {
  color: blue;
}

#output1 thead, #output1 tr td{
  text-align: center;
  border: 1px solid black;
}

thead td{
  padding: 10px;
}